server:
  port: 8085

spring:

  application:
    name: Mi_web

  datasource:
    password: root
    url: jdbc:postgresql://localhost:5432/mi_base_de_datos
    username: postgres
  jpa:
      database: POSTGRESQL
      generate-ddl: true
      hibernate:
        ddl-auto: create
      show-sql: true
  sql:
      init:
        platform: postgres


